{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
  {% include "partials/header.html" %}

  <body>
    <div class="content">
      {% include "partials/head.html" %} {% block main_content %}
      <main class="list">
        <h1>Adrián Villanueva Martínez</h1>
        <h2>Skills</h2>
        <ul>
          <li>Python, Go, Rust, C, Java and other languages</li>
          <li>Devops, Data and Software engineering</li>
          <li>Docker, Kubernetes, CI/CD</li>
          <li>Databases, Microservices and other stuff</li>
          <li>Cloud stuff</li>
          <li>Cats</li>
        </ul>
        <h2>Quick links</h2>
        <ul>
          <li><a href="https://github.com/adrianvillanueva997">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/adrian-villanueva-martinez/">LinkedIn</a></li>
          <li><a href="https://twitter.com/adrianvm_97">Twitter</a></li>
          <li><a href="mailto:adrian.villanueva.martinez@outlook.com">Mail</a></li>
        </ul>
      </main>

      {% if paginator %} {% endif %} {% endblock main_content %} {% include
      "partials/footer.html" %}
    </div>
  </body>
</html>
